{% load i18n %}
<strong>
    <a href="{% url "control:event.order" event=request.event.slug organizer=request.event.organizer.slug code=order.code %}">
        {{ order.code }}</a>
</strong>
{% if order.testmode %}
    <span class="label label-warning">{% trans "TEST MODE" %}</span>
{% endif %}
{% if order.custom_followup_due %}
    <span class="label label-danger">{% blocktrans trimmed with date=order.custom_followup_at|date:"SHORT_DATE_FORMAT" context "followup" %}TODO {{ date }}{% endblocktrans %}</span>
{% elif order.custom_followup_at %}
    <span class="label label-default">{% blocktrans trimmed with date=order.custom_followup_at|date:"SHORT_DATE_FORMAT" context "followup" %}TODO {{ date }}{% endblocktrans %}</span>
{% endif %}